.sec-1 {
	padding: 18.75rem 0;
	background: #fff;
	border-bottom-left-radius: 5rem;
}

.sec-2 {
	padding: 5rem 0;
	background: #e5e5e5;
}

.sec-3 {
	padding: 5rem 0;
	background: #fff;
}

.sec-4 {
	padding: 5rem 1rem;
}
